520905500105.xlsx
520905500120.xlsx
ioig_anzsic.xlsx
2009-10
5220002_Annual_NSW.xlsx
5220003_Annual_VIC.xlsx
5220004_Annual_QLD.xlsx
5220005_Annual_SA.xlsx
5220006_Annual_WA.xlsx
5220007_Annual_TAS.xlsx
5220008_Annual_NT.xlsx
5220009_Annual_ACT.xlsx
Employment by LGA by POW by Industry by UR 2011.csv
Employment by LGA by POW by Industry by UR 2016.csv
Employment by LGA by POW by Industry by UR 2021.csv
Employment by State by POW by Industry 2 by UR 2021.csv
Employment by State by POW by Industry 4 by UR 2021.csv
